<footer id="footer">
    <div class="contenedorfooter">
       <div class="logofooter">
         <img src="https://i.ibb.co/QJkkXVN/I-am-MOm.png" alt="">
      </div>
      <div class="copy">
        2022 I Am Mom ® - TODOS LOS DERECHOS RESERVADOS
      </div>
      <div class="social">
         <a href="https://www.facebook.com/"><i class="fab fa-facebook-f iconF"></i></a>
         <a href="https://twitter.com/home"><i class="fab fa-twitter iconT"></i></a>
         <a href="https://www.instagram.com/"><i class="fab fa-instagram iconI"></i></a>
      </div>
    </div>
</footer>